In [7]:
set={"apple","watermelon","kiwi"}
print(set)

set1={"apple","watermelon","kiwi","apple",True,False,0,1,2}    #duplication will be ignored like "apple"
print(set1)                                             #True,False,0 and 1 considered are same value

{'kiwi', 'apple', 'watermelon'}
{False, True, 'watermelon', 2, 'apple', 'kiwi'}

In [9]:
x = byte(23)
y= byte(23)

print(memoryview(x))
print(memoryview(y))

NameError: name 'byte' is not defined

In [11]:
# Access Set Items
thisset={"apple","banana","kiwi"}
for i in thisset:
    print(i)
print("banana" in thisset)

kiwi
apple
banana
True

In [12]:
#  Add Set Items
set={"apple","banana","kiwi"}
set.add("watermelon")
print(set)

# Add Sets
set1={"apple","banana","kiwi"}
set2=["bcj","hbdc","uib"]
set1.update(set2)
print(set1)

{'apple', 'watermelon', 'banana', 'kiwi'}
{'hbdc', 'banana', 'kiwi', 'apple', 'uib', 'bcj'}

In [22]:
# Remove Item
set1={"apple","banana","kiwi"} #discard() also use
set1.remove("apple")
print(set1)

thisset={"apple","banana","kiwi"}
s=thisset.pop()
print(s)
print(thisset)

set1={"apple","banana","kiwi"} #set is empty
set1.clear()
print(set1)

{'banana', 'kiwi'}
apple
{'banana', 'kiwi'}
set()

In [23]:
set1={"apple","banana","kiwi"} #this will raise an error because the set no longer exists
del set1
print(set1)

NameError: name 'set1' is not defined

In [24]:
# Loop Items
set1={"apple","banana","kiwi"}
for i in set1:
    print(i)

apple
banana
kiwi

In [41]:
# Union
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set1.union(set2)
print(set1)

set3=set1|set2
print(set3)

# Join Multiple Sets
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}
myset=set1.union(set2,set3,set4)
print(myset)

my=set1|set2|set3|set4
print(my)

# Join a Set and a Tuple
x = {"a", "b", "c"}
y = (1, 2, 3)
a=x.union(y)
print(a)


# # intersection()
set1 = {"apple",1, "banana", 0,"cherry"}
set2 = {"google",False, "microsoft", True,"apple"}
s=set1.intersection(set2)
print(s)
s1=set1&set2
print(s1)
set1.intersection_update(set2)
print(set1)

{'b', 'a', 'c'}
{'b', 1, 2, 3, 'a', 'c'}
{'b', 1, 2, 3, 'a', 'bananas', 'c', 'John', 'apple', 'Elena', 'cherry'}
{'b', 1, 2, 3, 'a', 'bananas', 'c', 'John', 'apple', 'Elena', 'cherry'}
{'b', 1, 2, 3, 'a', 'c'}
{False, True, 'apple'}
{False, True, 'apple'}
{False, True, 'apple'}

In [52]:
# Difference
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
s=set1.difference(set2)
print(s)
s=set1-set2
print(s)
set1.difference_update(set2)
print(set1)

# Symmetric Differences
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
s=set1.symmetric_difference(set2)
print(s)
s=set1^set2
print(s)
set1.symmetric_difference_update(set2)
print(set1)

{'banana', 'cherry'}
{'banana', 'cherry'}
{'banana', 'cherry'}
{'banana', 'google', 'cherry', 'microsoft'}
{'banana', 'google', 'cherry', 'microsoft'}
{'banana', 'google', 'cherry', 'microsoft'}